<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.hotel.dao.guest.GuestMapper">
	<select id="gueList" parameterType="map" resultType="guestCommand">
		SELECT
		  *
		FROM 
		  h_guest JOIN gue_slide
		ON
		  h_guest.gue_num = gue_slide.gue_num	
	</select>
	
	<select id="getRowCount" parameterType="map" resultType="integer">
		SELECT
		   count(*)
		FROM h_guest
	</select>

</mapper>






